*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #344E41; */
    background-image: url(img/background-ring.jpg); /*https://www.vecteezy.com/free-vector/boxing-ring : Boxing Ring Vectors by Vecteezy*/
}

#center-block{
    background-color: #A3B18A;
    width: 1000px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#display{
    background-color: #344E41;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.display-sides{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0px;
}

.choice-display{
    margin-top: 25px;
}


#round-result{
    margin: 35px 0px;
}

#scores{
    padding: 20px 0px;
    width: 80%;
    display: flex;
    justify-content: space-around;
}

#scores div{
    border: solid black 1px;
}

#buttons{
    display: flex;
    justify-content: space-around;
}

button{
    margin: 30px;
    padding: 15px 30px;
}

.hidden{
    display: none;
}